nav {
	background-color: #808080;
}

nav a {
	background-color: #0078ff;
	color: white;
	padding: 35px;
	display: block;
	float: left;
	text-decoration: none;
}

nav a:hover {
	background-color: #d035a7;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    content: " ";
    clear: both;
    height: 0;
    font-size: 0;
}

h1 {
	color: #d035a7;
	text-align: center;
}
			
h2 {
	color: #ffd700;
	text-align: center;
}

#match {
	text-align: center;
}

#reset {

}

p {
	text-align: center;
	margin: 0 150px;
}

#score {
	text-align: center;
}

/*
.board {
	height: 50%;
	width: 50%;
	float: left;
	margin: 8%;
}
*/

.card {
	height: 200px;
	width: 150px;
	border: none;
	margin: 30px;
	display: inline-block;
	position: relative;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
}

.card img {
	width: 100%;
	height: auto;
	position: absolute;
}

#game-board {
	text-align: center;
}

.name {
	color: #ff0000;
}


footer {
	text-align: center;
	clear: both;
}